# Entornos virtuales
.venv/
venv/
env/

# Cachés y archivos compilados de Python
__pycache__/
*.py[cod]

# Archivos temporales
*.tmp
*.temp
*.swp
*.swo
*~

# Configuración local del editor
.vscode/
.idea/

# Archivos generados al instalar o construir el paquete
*.egg-info/
build/
dist/
